body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.hero__container{
    height: 600px;
}

.image__container img{
    margin-top: 10%;
}

.container-fluid {
    padding: 0 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light", sans-serif;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.phone-img {
    width: 60%;
    transform: rotate(25deg);
}

#features {
    display: block;
    text-align: center;
    margin: 150px 30px;
}

#features h3 {
    font-family: 'Montserrat';
    font-weight: 600;
}

#features p {
    color: #8f8f8f;
    font-size: 1.1rem;
}

.icones {
    color: #ef8172;
    margin-bottom: 20px;
    font-size: 3.5rem;
    transition: .5s;
}

.icones:hover {
    color: #ff4c68;
}

.icons {
    padding: 200px;
}